.List {
    border: 1px solid #d9dddd;
}

.ListItemEven,
.ListItemOdd {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ListItemEven {
    background-color: #f8f8f0;
}

.Note {
    background-color: #ffd;
    border-left: 0.25rem solid #ff6;
    padding: 0.5rem;
}
